spring:
  datasource:
    url: jdbc:mysql://localhost/test3?characterEncoding=utf8&serverTimezone=GMT%2b0&useLegacyDatetimeCode=false
    username: root
    password: 123456

  jpa:
    show-sql: true
    properties:
      hibernate:
        hbm2ddl:
          auto: update

server:
  port: 1023

aptos:
  contract:
    address:
      "0x8bc9a5fab9a68b62117ac3aff4917eacf05dd633a766a689dd14707abeb51738"
    node-api:
      base-url: "https://fullnode.devnet.aptoslabs.com/v1"
#    pull-day-summary-events:
#      day-summary-created:
#        fixed-delay: 6000
#    pull-order-v2-events:
#      order-v2-created:
#        fixed-delay: 6000
